extends ../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        ul {
            padding: 0;
            list-style-type: none;
        }

        .center-middle {
           margin-top: 13px;
        }

        .margin-div {
            margin-right: 5px;
        }

         .btn-small {
            font-size: 0.5rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

        hr {
            margin-top: -5px;
            margin-bottom: 5px;
            border: 1px solid #2d6e99;
        }

        .margin-div2 {
            margin-right: 10px;
        }
    script.
        var nutricion = [];
        var cambiar_tiempo = true;
        var cambiar_fecha = false;
        var hora;
        var tamaño_suma = [];
        var lista_nutricion = [];

        $(document).ready( function(){
            obtenerFecha();
            obtenerHora(); 

            $('#subMenuNutricion').removeClass('hidden');
            $('#spanMenuNutricion').removeClass('fa-angle-left');
            $('#spanMenuNutricion').addClass('fa-angle-down');

            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        
            mostrarPiscinas();
            
            $('[data-toggle="tooltip"]').tooltip();
        });

        function obtenerFecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio + " - ");
        }

        function obtenerHora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if (horas < 12) {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("AM");
                }
                dn = "a.m.";
            } else {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("PM");
                }
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            hora = horas+":"+minutos+":"+segundos;
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function sumarCodigo(idS, num_charola){
            var id = idS.split("_")[1];
            var dividir = 0.00;
            var suma = 0.00;
            var codigo_racion = 0.00;
            //  tamaño_suma.includes()

            if(parseFloat($('input[name="charola'+num_charola+''+id+'"]').val()) < 0 || parseFloat($('input[name="charola'+num_charola+''+id+'"]').val()) > 3) {
                $('#alert').removeClass('success');
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se adminten solo cantidades ');
                $('#msg2').text('revise la charola ' + num_charola);
                $('#msg_alert').text('de 0 a 3 ');
                // focus charola.
                $('input[name="charola'+num_charola+''+id+'"]').focus();
                return;
            }

            var charola_1 = $('input[name="charola1'+id+'"]').val() == "" ? null : parseFloat($('input[name="charola1'+id+'"]').val());
            var charola_2 = $('input[name="charola2'+id+'"]').val() == "" ? null : parseFloat($('input[name="charola2'+id+'"]').val());
            var charola_3 = $('input[name="charola3'+id+'"]').val() == "" ? null : parseFloat($('input[name="charola3'+id+'"]').val());
            var charola_4 = $('input[name="charola4'+id+'"]').val() == "" ? null : parseFloat($('input[name="charola4'+id+'"]').val());           

            dividir += charola_1 == null ? 0 : 1;
            dividir += charola_2 == null ? 0 : 1;
            dividir += charola_3 == null ? 0 : 1;
            dividir += charola_4 == null ? 0 : 1;
           
            suma += charola_1 == null ? 0 : charola_1;
            suma += charola_2 == null ? 0 : charola_2;
            suma += charola_3 == null ? 0 : charola_3;
            suma += charola_4 == null ? 0 : charola_4;

            $('#suma'+id).text(suma);
            $('#cod'+id).text(parseFloat(suma/dividir).toFixed(2));
        }

        function mostrarPiscinas() {
            abrirLoader();
            var listaModulos = $("#modulos").val().split(",");

            $.post( "/nutricion/piscinas", {
                modulos: listaModulos
            }, (data) => {
                if(data.piscinas.length > 0){

                    $('#num_piscinas').text(data.piscinas.length);
                    
                    for(var i = 0; i <= data.piscinas.length - 1; i ++){
                        /** Contrucción de piscinas*/
                        $("#lista_nutricion")
                        .append('<li id="pis'+data.piscinas[i]._id+'"> ' +
                            '<div class="d-flex justify-content-between">' +
                                '<input type="text" id="idPis'+data.piscinas[i]._id+'" name="idPis'+data.piscinas[i]._id+'" value="'+data.piscinas[i]._id+'" class="hidden">'+
                                '<div class="center-middle">' +
                                    '<i class="fas fa-water" style="margin-right: 1px; color: #2d6e99"></i>' +
                                    '<label>'+data.piscinas[i].codigo+'</label>' +
                                '</div>'+
                                '<div class="form-group margin-div">' +
                                    '<label> Charola 1 </label>' +
                                    '<input class="form-control" type="text" id="c1_'+data.piscinas[i]._id+'" name="charola1'+data.piscinas[i]._id+'" placeholder="Charola 1" onblur="sumarCodigo(this.id,1)">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Charola 2 </label>' +
                                    '<input class="form-control" type="text" id="c2_'+data.piscinas[i]._id+'" name="charola2'+data.piscinas[i]._id+'" placeholder="Charola 2" onblur="sumarCodigo(this.id,2)">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Charola 3 </label>' +
                                    '<input class="form-control" type="text" id="c3_'+data.piscinas[i]._id+'" name="charola3'+data.piscinas[i]._id+'" placeholder="Charola 3" onblur="sumarCodigo(this.id,3)">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Charola 4 </label>' +
                                    '<input class="form-control" type="text" id="c4_'+data.piscinas[i]._id+'" name="charola4'+data.piscinas[i]._id+'" placeholder="Charola 4" onblur="sumarCodigo(this.id,4)">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Kg ración </label>' +
                                    '<input class="form-control" type="text" name="racion'+data.piscinas[i]._id+'" placeholder="Kg ración">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> % Ajuste </label>' +
                                    '<input class="form-control" type="text" id="aj_'+data.piscinas[i]._id+'" name="ajuste'+data.piscinas[i]._id+'" placeholder="% Ajuste" onkeyup="siguienteRacion(this.id)" onblur="registrarParametro(this.id)">' + 
                                '</div>' +
                            '</div>' +
                            '<div style="margin-top: -10px;" class="text-right">' +
                                '<label> R1: </label>' +
                                '<label class="margin-div2 blue-text" id="r1'+data.piscinas[i]._id+'" name"r1'+data.piscinas[i]._id+'"></label>' +
                                '<label> R2: </label>' +
                                '<label class="margin-div2 blue-text" id="r2'+data.piscinas[i]._id+'" name"r2'+data.piscinas[i]._id+'"></label>' +
                                '<label> R3: </label>' +
                                '<label class="margin-div2 blue-text" id="r3'+data.piscinas[i]._id+'" name"3'+data.piscinas[i]._id+'"></label>' +
                                '<label> R4: </label>' +
                                '<label class="margin-div2 blue-text" id="r4'+data.piscinas[i]._id+'" name"r4'+data.piscinas[i]._id+'"></label>' +
                                '<label> R5: </label>' +
                                '<label class="margin-div2 blue-text" id="r5'+data.piscinas[i]._id+'" name"r5'+data.piscinas[i]._id+'"></label>' +
                                '<label> Kg día: </label>' +
                                '<label class="margin-div2 blue-text" id="kg_dia'+data.piscinas[i]._id+'" name"kg_dia'+data.piscinas[i]._id+'"></label>' +
                                '<label> Kg acumulado: </label>' +
                                '<label class="margin-div2 blue-text" id="kg_acumu'+data.piscinas[i]._id+'" name"kg_acumu'+data.piscinas[i]._id+'"></label>' +
                                '<label> Código: </label>' +
                                '<label class="margin-div2 blue-text" id="cod'+data.piscinas[i]._id+'" name"cod'+data.piscinas[i]._id+'"></label>' +
                                '<label> Suma: </label>' +
                                '<label class="margin-div2 blue-text" id="suma'+data.piscinas[i]._id+'" name"suma'+data.piscinas[i]._id+'"></label>' +
                                '<label> Kg Siguiente ración: </label>' +
                                '<label class="margin-div2 blue-text" id="kg_sig'+data.piscinas[i]._id+'" name"kg_sig'+data.piscinas[i]._id+'"></label>' +
                            '</div>' +
                            '<hr>'+
                        '</li>');

                        /** Obtener el acumulado de cada una de las piscinas y agregarlo */
                        $.post( "/nutricion/acumulado", {
                            id: data.piscinas[i]._id
                        }, (datos) => {
                            $('#kg_acumu'+datos.id).text(datos.kg_acumulados);
                        });

                        if(i == data.piscinas.length -1){
                            cerrarLoader();
                        }
                    }
                }

                if(data.modulos.length > 0 ) {
                    $("#span_modulos").text("");
                    $("#span_modulos").text(data.modulos[0].nombre);
                    
                    if(data.modulos.length > 1){
                        for(let i = 1; i <= data.modulos.length -1; i++){
                            $("#span_modulos").text($("#span_modulos").text() + ", " +data.modulos[i].nombre);
                        }
                    }
                }

                if(data.lista_nutricion.length > 0){
                    for(var i=0; i <= data.lista_nutricion.length -1 ; i++){
                        for(var j=0; j <= data.piscinas.length - 1; j ++){
                            if(data.lista_nutricion[i] != undefined && data.lista_nutricion[i].estanque == $('#idPis'+data.piscinas[j]._id).val()){
                                var contador = 0;
                                var id = data.lista_nutricion[i].estanque;
                                var r1  = parseFloat(0);
                                var r2 = parseFloat(0);
                                var r3 = parseFloat(0);
                                var r4 = parseFloat(0);
                                var r5 = parseFloat(0);

                                r1 = data.lista_nutricion[i] == undefined ? parseFloat(0) : parseFloat(data.lista_nutricion[i].kg_racion).toFixed(2);
                                contador += 1;

                                if(data.lista_nutricion[i + 1] != undefined && data.lista_nutricion[i + 1].estanque == $('#idPis'+data.piscinas[j]._id).val()){
                                    r2 = data.lista_nutricion[i + 1] == undefined ? parseFloat(0) : parseFloat(data.lista_nutricion[i + 1].kg_racion).toFixed(2);
                                    contador += 1;
                                }

                                if(data.lista_nutricion[i + 2] != undefined && data.lista_nutricion[i + 2].estanque == $('#idPis'+data.piscinas[j]._id).val()){
                                    r3 = data.lista_nutricion[i + 2] == undefined ? parseFloat(0) : parseFloat(data.lista_nutricion[i + 2].kg_racion).toFixed(2);
                                    contador += 1;
                                }

                                if(data.lista_nutricion[i + 3] != undefined && data.lista_nutricion[i + 3].estanque == $('#idPis'+data.piscinas[j]._id).val()){
                                    r4 = data.lista_nutricion[i + 3] == undefined ? parseFloat(0) : parseFloat(data.lista_nutricion[i + 3].kg_racion).toFixed(2);
                                    contador += 1;
                                }

                                if(data.lista_nutricion[i + 4] != undefined && data.lista_nutricion[i + 4].estanque == $('#idPis'+data.piscinas[j]._id).val()){
                                    r5 = data.lista_nutricion[i + 4] == undefined ? parseFloat(0) : parseFloat(data.lista_nutricion[i + 4].kg_racion).toFixed(2);
                                    contador += 1;
                                }

                                var suma = parseFloat(r1) + parseFloat(r2) + parseFloat(r3) + parseFloat(r4) + parseFloat(r5);

                                $('#r1'+id).text(r1);
                                $('#r2'+id).text(r2);
                                $('#r3'+id).text(r3);
                                $('#r4'+id).text(r4);
                                $('#r5'+id).text(r5);
                                
                                $('#kg_dia'+id).text(parseFloat(suma).toFixed(2));
                                i += contador;
                            }
                        }
                    }
                }

            }, "json");
        }

        function guardarRegistros(){
            abrirLoader();

            if(nutricion.length == 0) {
                $('#alert').removeClass('success');
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario ingresar ');
                $('#msg2').text('en al menos una piscina');
                $('#msg_alert').text('parámetros ');
                $('#loader').addClass('hidden');
                cerrarLoader();
                return;
            }

            $.post( "/nutricion/add", {
                nutricion: nutricion,
                cambiar_fecha: cambiar_fecha
            }, (data) => {
                //console.log(data);
                $('#span_estatus').text(data.estatus);

                limpiarDatos();
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('warning');
                $('#alert').addClass('success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha realizado con ');
                $('#msg2').text('el registro de parámetros');
                $('#msg_alert').text('éxito ');
                $('#guardar').addClass('disabled');
            }, "json");

            $('#loader').addClass('hidden');

            cerrarLoader();
        }

        function siguienteRacion(idS) {
            var id = idS.split("_")[1];

            var kg = $('input[name="racion'+id+'"]').val() == "" ? parseFloat(0) : parseFloat($('input[name="racion'+id+'"]').val());
            var kg_sig = kg * ( 1.0 + parseFloat(parseFloat($('input[name="ajuste'+id+'"]').val()) / 100));
            $('#kg_sig'+id).text(parseFloat(kg_sig).toFixed(2));       
        }

        function registrarParametro(idS){
            var id = idS.split("_")[1];
            var obj = new Object()
            
            if(existeRegistro(id)){ } else {
                obj.charola_1 = $("input[name=charola1"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola1"+id+"]").val();
                obj.charola_2 = $("input[name=charola2"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola2"+id+"]").val();
                obj.charola_3 = $("input[name=charola3"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola3"+id+"]").val();
                obj.charola_4 = $("input[name=charola4"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola4"+id+"]").val();
                obj.kg_racion = $("input[name=racion"+id+"]").val() == "" ? parseFloat(0) : $("input[name=racion"+id+"]").val();
                obj.porcent_ajuste = $("input[name=ajuste"+id+"]").val() == "" ? parseFloat(0) : $("input[name=ajuste"+id+"]").val();
                obj.codigo_racion = $("#cod" + id).text();
                obj.suma = $("#suma" + id).text();
                obj.siguiente_racion = $("#kg_sig" + id ).text();
                obj.estanque = $("input[name=idPis"+id+"]").val();
                obj.hora = hora;
                obj.fecha = $('#fecha_new').val();
                obj.tiempo = $("#span_tiempo").text();
                obj.charolero = $('#user').val();

                if( obj.charola_1 == 0 &&
                obj.charola_2 == 0 &&
                obj.charola_3 == 0 &&
                obj.charola_4 == 0 &&
                obj.kg_racion == 0 &&
                obj.porcent_ajuste == 0 ) { 
                    console.log(" Nose mandará a registrar piscina: " + id);
                } else {
                    nutricion.push(obj);
                }

                console.log(nutricion);
            }
        }

        function existeRegistro(id){
            var obj = new Object();

            for(var i=0; i <= nutricion.length -1; i ++){    
                if(nutricion[i].estanque == id){
                    obj.charola_1 = $("input[name=charola1"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola1"+id+"]").val();
                    obj.charola_2 = $("input[name=charola2"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola2"+id+"]").val();
                    obj.charola_3 = $("input[name=charola3"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola3"+id+"]").val();
                    obj.charola_4 = $("input[name=charola4"+id+"]").val() == "" ? parseFloat(0) : $("input[name=charola4"+id+"]").val();
                    obj.kg_racion = $("input[name=racion"+id+"]").val() == "" ? parseFloat(0) : $("input[name=racion"+id+"]").val();
                    obj.porcent_ajuste = $("input[name=ajuste"+id+"]").val() == "" ? parseFloat(0) : $("input[name=ajuste"+id+"]").val();
                    obj.codigo_racion = $("#cod" + id).text();
                    obj.suma = $("#suma" + id).text();
                    obj.siguiente_racion = $("#kg_sig" + id ).text();
                    obj.estanque = $("input[name=idPis"+id+"]").val();
                    obj.hora = hora;
                    obj.tiempo = $("#span_tiempo").text();
                    obj.charolero = $('#user').val();

                        if( obj.charola_1 == 0 &&
                            obj.charola_2 == 0 &&
                            obj.charola_3 == 0 &&
                            obj.charola_4 == 0 &&
                            obj.kg_racion == 0 &&
                            obj.porcent_ajuste == 0 ) { 
                                console.log(" Nose mandará a registrar piscina: " + id);
                        } else {
                            nutricion[i] =  obj;
                        }

                        return true;
                }
            }
            return false;
        }

        function asignarTiempo(){
            cambiar_tiempo = false;
            $('#span_tiempo').text($('#select_tiempo').val());
        }

        function asignarFecha(){
            cambiar_fecha = true;
            var fecha = $('#fecha_new').val().split("-");
            $('#fecha').text(fecha[2]+"/"+fecha[1]+"/"+fecha[0] + " - ");

            nutricion.forEach( n => {
                n.fecha = $('#fecha_new').val();
            });
        }

        function limpiarDatos() {
            obtenerFecha();
            obtenerHora();

            cambiar_tiempo = true;
            cambiar_fecha = false;

            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        
            $("#lista_nutricion").empty();

            mostrarPiscinas();
        }

    // Termina javascript

    // Inputs funcionamiento
    input.hidden#modulos(value="#{user.modulo}")
    input.hidden#user(value="#{user._id}")

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-seedling
                    |   Registro de nutrición
                div
                    a#guardar(href="javascript:guardarRegistros();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Módulo(s): 
                            br
                            strong
                                span#span_modulos.blue-text ####
                        h5.h5-responsive
                            small Número de piscinas: 
                            br
                            strong
                                span#num_piscinas ###
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Fecha.
                            br
                            strong
                                a(data-toggle="modal" href="#fechaModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar fecha").fas.fa-2x.fa-sync-alt
                                span#fecha.blue-text
                                span#hora.blue-text
                        h5.h5-responsive
                            small Captura para
                            br
                            strong
                                a(data-toggle="modal" href="#tiempoModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar tiempo").fas.fa-2x.fa-sync-alt
                                span#span_tiempo(style="margin-top: 5px;")
                        h5.h5-responsive
                            small Estatus.
                            br
                            strong
                                span#span_estatus Nuevo
                        //h5.h5-responsive#h_modulo.hidden
                            small Módulo.
                            br
                            strong
                                span#span_modulo #######
                        //h5.h5-responsive#h_piscina.hidden
                            small Piscina.
                            br
                            strong
                                span#span_piscina #######
    
    // Captura de datos
    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-vial
            .panel-body
                ul#lista_nutricion   

    // Modal Seleccionar tiempo
    #tiempoModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-hourglass-half.fa-input
                                            select#select_tiempo.form-control(required name="tiempo" tabindex="1" value="" onchange="asignarTiempo()")
                                                option(value="") << Seleccione >>
                                                option(value="AM") AM
                                                option(value="PM") PM

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

     // Modal Seleccionar tiempo
   
    // Modal seleccionar fecha
    #fechaModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar fecha
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Fecha
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-calendar(style="color: #fff;")
                                            input#fecha_new.form-control(type="date" name="fecha_new" tabindex="6" onblur="asignarFecha()")
                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

               