doctype html
html(lang="es")
    head
        title Llaos 1.0
        meta(charset="utf-8")
        link(rel="shortcut icon" href="/imgs/management.ico")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/inicio.css" rel="stylesheet")
        link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
        link(href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' rel='stylesheet' type='text/css')
        link(href='/metisMenu/metisMenu.min.css' rel='stylesheet' text='text/css')
        link(href='/morrisjs/morris.css' rel='stylesheet' text='text/css')
        link(href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        script.
            $(document).ready( function() {
                var msg = $("#msg").text();

                if(msg.split(":")[0] == "Error"){
                    $('#loginPanel').removeClass('panel-success');
                    $('#loginPanel').addClass('panel-danger');
                } else {
                    $('#loginPanel').removeClass('panel-danger');
                    $('#loginPanel').addClass('panel-success');
                }
            })
        
        //Termina Javascript
        .container
            .row
                .col-md-4.col-md-offset-4
                    img(src="/imgs/llaos-web.png", alt="", style="width: 100%; margin-top: 100px; margin-bottom: -70px;")
                    .login-panel#loginPanel.panel.panel-success
                        .panel-heading
                            span#msg #{msg}
                        .panel-body
                            form(role='form' method="post" action="/inicio")
                                fieldset     
                                    .form-group
                                        input.form-control(placeholder='Usuario', name='user', type='text', autofocus)
                                    .form-group
                                        input.form-control(placeholder='Contraseña', name='pass', type='password', value='')
                                    .checkbox.hidden
                                        label(for="")
                                            input(name="remember", type='checkbox', value='Recordar') 
                                            |   Recordar
                                    input(type="submit" value="Iniciar").btn.btn-lg.btn-success.btn-block
            footer.footer-copyright.py-3.text-center
                |   © 2018 Copyright: 
                a(href="https://www.llaos.com" target="_blank")  
                    strong Llaos Acuacultura S.A de C.V 
