extends ../layouts/layout.jade
block contenido
    .row
        .col-lg-12
            h1.page-header Compras
    .row
        .col-lg-3.col-md-6
            .panel.panel-primary
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-comments.fa-5x
                        .col-xs-9.text-right
                            .huge 26
                            div Solicitudes
                a(href='#')
                    .panel-footer
                        span.pull-left Ver Detalles
                        span.pull-right
                            i.fas.fa-eye
                        .clearfix
        .col-lg-3.col-md-6
            .panel.panel-green
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-tasks.fa-5x
                        .col-xs-9.text-right
                            .huge 12
                            div Autorizadas
                a(href='#')
                    .panel-footer
                        span.pull-left Ver Detalles
                        span.pull-right
                            i.fas.fa-eye
                        .clearfix
        .col-lg-3.col-md-6
            .panel.panel-yellow
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-shopping-cart.fa-5x
                        .col-xs-9.text-right
                            .huge 124
                            div Compradas
                a(href='#')
                    .panel-footer
                        span.pull-left Ver Detalles
                        span.pull-right
                            i.fas.fa-eye
                        .clearfix
        .col-lg-3.col-md-6
            .panel.panel-red
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-support.fa-5x
                        .col-xs-9.text-right
                            .huge 13
                            div Canceladas
                a(href='#')
                    .panel-footer
                        span.pull-left Ver Detalles
                        span.pull-right
                            i.fas.fa-eye
                        .clearfix