extends ../../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        ul {
            padding: 0;
            list-style-type: none;
        }

        .center-middle {
            margin-top: 13px;
        }

        .margin-div {
            margin-right: 5px;
        }

        .btn-small {
            font-size: 0.5rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

        hr {
            margin-top: -5px;
            margin-bottom: 5px;
            border: 1px solid #2d6e99;
        }

        .margin-div2 {
            margin-right: 10px;
        }
    script.
        var biometrias = [];
        var cambiar_tiempo = true;
        var cambiar_fecha = false;
        var hora;
        var tamaño_suma = [];
        var lista_nutricion = [];
        var lista_biometrias = [];
        var contador = 0;

        $(document).ready( function(){
            $('#subMenuProduccion').removeClass('hidden');
            $('#spanMenuProduccion').removeClass('fa-angle-left');
            $('#spanMenuProduccion').addClass('fa-angle-down');

            $('#subMenuBiometrias').removeClass('hidden');
            $('#spanMenuBiometrias').removeClass('fa-angle-left');
            $('#spanMenuBiometrias').addClass('fa-angle-down');
            
            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        
            obtenerFecha();
            obtenerHora(); 
            mostrarPiscinas();

            $('[data-toggle="tooltip"]').tooltip();
        });

        function obtenerFecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio + " - ");
        }

        function obtenerHora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if (horas < 12) {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("AM");
                }
                dn = "a.m.";
            } else {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("PM");
                }
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            hora = horas+":"+minutos+":"+segundos;
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function mostrarPiscinas() {
            abrirLoader();
            var listaModulos = $("#modulos").val().split(",");

            $.post( "/biometrias/piscinas", {
                modulos: listaModulos
            }, (data) => {
                if(data.piscinas.length > 0){
                    $('#num_piscinas').text(data.piscinas.length);
                    

                    for(var i = 0; i <= data.piscinas.length - 1; i ++){
                        let obj = data.piscinas[i];
                        lista_biometrias.push(data.piscinas[i]);

                        $("#lista_nutricion")
                            .append('<li id="pis'+obj._id+'"> ' +
                                '<div class="d-flex justify-content-between">' +
                                    '<input type="text" id="idPis'+obj._id+'" name="idPis'+obj._id+'" value="'+obj._id+'" class="hidden">'+
                                    '<div class="center-middle">' +
                                        '<i class="fas fa-water" style="margin-right: 1px; color: #2d6e99"></i>' +
                                        '<label id="codPis_'+obj._id+'">'+obj.codigo+'</label>' +
                                    '</div>'+
                                    '<div class="form-group margin-div">' +
                                        '<label> Peso actual </label>' +
                                        '<input class="form-control" type="text" id="peso_act_'+obj._id+'" name="peso_act_'+obj._id+'" placeholder="Peso actual" onkeyup="obtenerIncremento(this.id)">' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Org x lance </label>' +
                                        '<input class="form-control" type="text" id="org_lance_'+obj._id+'" name="org_lance_'+obj._id+'" placeholder="Org x lance" >' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Código 4hr. </label>' +
                                        '<input class="form-control" type="text" id="cod_4_'+obj._id+'" name="cod_4_'+obj._id+'" placeholder="Código 4hr." >' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Código 10hr. </label>' +
                                        '<input class="form-control" type="text" id="cod_10_'+obj._id+'" name="cod_10_'+obj._id+'" placeholder="Código 10hr." >' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Org muertos </label>' +
                                        '<input class="form-control" type="text" id="org_muert_sem_'+obj._id+'" name="org_muert_sem_'+obj._id+'" placeholder="Org muertos">' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Presencia paj </label>' +
                                        '<input class="form-control" type="text" id="paj_'+obj._id+'" name="paj_'+obj._id+'" placeholder="Presencia paj" onkeyup="registrarParametro(this.id)">' + 
                                    '</div>' +
                                    '<div class="form-group margin-div">' +
                                        '<label> Observa </label>' +
                                        '<input class="form-control" type="text" id="obs_'+obj._id+'" name="obs_'+obj._id+'" placeholder="Observa" onkeyup="registrarParametro(this.id)">' + 
                                    '</div>' +
                                '</div>' +
                                '<div style="margin-top: -10px;" class="text-right">' +
                                    '<label> Superfi (ha): </label>' +
                                    '<label class="margin-div2 blue-text" id="super_'+obj._id+'" name"super_'+obj._id+'"></label>' +
                                    '<label> Fecha siemb: </label>' +
                                    '<label class="margin-div2 blue-text" id="fsiembra_'+obj._id+'" name"fsiembra_'+obj._id+'"></label>' +
                                    '<label> Densidad siemb: </label>' +
                                    '<label class="margin-div2 blue-text" id="den_siembra_'+obj._id+'" name"den_siembra_'+obj._id+'"></label>' +
                                    '<label> Int. origen: </label>' +
                                    '<label class="margin-div2 blue-text" id="int_ori_'+obj._id+'" name"int_ori_'+obj._id+'"></label>' +
                                    '<label> Días culti: </label>' +
                                    '<label class="margin-div2 blue-text" id="dculti_'+obj._id+'" name"dculti_'+obj._id+'"></label>' +
                                    '<label> Peso siemb: </label>' +
                                    '<label class="margin-div2 blue-text" id="peso_siem_'+obj._id+'" name"peso_siem_'+obj._id+'"></label>' +
                                    '<label> Peso ant: </label>' +
                                    '<label class="margin-div2 blue-text" id="peso_ant_'+obj._id+'" name"peso_ant_'+obj._id+'"></label>' +
                                    '<label> Incre: </label>' +
                                    '<label class="margin-div2 blue-text" id="incre_'+obj._id+'" name"incre_'+obj._id+'"></label>' +
                                    '<label> Alim Sem: </label>' +
                                    '<label class="margin-div2 blue-text" id="alim_sem_'+obj._id+'" name"alim_sem_'+obj._id+'"></label>' +
                                    '<label> Kg x ha: </label>' +
                                    '<label class="margin-div2 blue-text" id="kg_x_ha_'+obj._id+'" name"kg_x_ha_'+obj._id+'"></label>' +
                                    '<label> Acumul: </label>' +
                                    '<label class="margin-div2 blue-text" id="acumu_'+obj._id+'" name"acumu_'+obj._id+'"></label>' +
                                    '<label> Org muert. Acum: </label>' +
                                    '<label class="margin-div2 blue-text" id="org_muert_acum_'+obj._id+'" name"org_muert_acum_'+obj._id+'"></label>' +
                                '</div>' +
                                '<hr>'+
                            '</li>');

                        if(i == data.piscinas.length -1){
                            actualizarAcumulados();
                            cerrarLoader();
                        }
                    }
                }

                if(data.modulos.length > 0 ) {
                    $("#span_modulos").text("");
                    $("#span_modulos").text(data.modulos[0].nombre);
                    
                    if(data.modulos.length > 1){
                        for(let i = 1; i <= data.modulos.length -1; i++){
                            $("#span_modulos").text($("#span_modulos").text() + ", " +data.modulos[i].nombre);
                        }
                    }
                }
            }, "json");

            cerrarLoader();
        }

        async function actualizarAcumulados(){
            abrirLoader();
            for(var i = 0; i <= lista_biometrias.length - 1; i ++){
                let obj = lista_biometrias[i];

                //console.log(obj);
                
                /** Obtener el acumulado de cada una de las piscinas y agregarlo */
                const p = await $.post( "/biometrias/acumulado", {
                    id: obj._id,
                    fecha_siembra: obj.fecha_siembra
                }, (datos) => {
                    var date = new Date(obj.fecha_siembra);
                    date.setDate(date.getDate() + 1);
                    var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                    var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                    var peso_anterior = datos.biometria_anterior == undefined ? "" : datos.biometria_anterior.peso_actual;

                    $('#super_'+obj._id).text(obj.superficie);
                    $('#fsiembra_'+obj._id).text(day+'/'+month+'/'+date.getFullYear())                    
                    $('#den_siembra_'+obj._id).text(obj.densidad_siembra);
                    $('#int_ori_'+obj._id).text(obj.intensivo_origen.toString());                    
                    $('#dculti_'+obj._id).text(datos.dias_siembra);                    
                    $('#peso_siem_'+obj._id).text(obj.peso_siembra);                    
                    $('#peso_ant_'+obj._id).text(peso_anterior.toFixed(2));                    
                    $('#alim_sem_'+obj._id).text(datos.kg_acumulados_sem);                    
                    $('#kg_x_ha_'+obj._id).text(((datos.kg_acumulados_sem / 7) / obj.superficie).toFixed(2));                    
                    $('#acumu_'+obj._id).text(datos.kg_acumulados);                    
                    $('#org_muert_acum_'+obj._id).text(datos.org_muert_acum);

                    
                }).done(function() {
                    contador += 1;
                })
                .fail(function() {
                    alert( "error" );
                });

                if(contador == (lista_biometrias.length -1)){
                    cerrarLoader();
                }
            }
        }

        function guardarRegistros(){
            $('#guardar').addClass('disabled');
            abrirLoader();
            
            console.log(biometrias);
            
            if(biometrias.length == 0) {
                $('#alert').removeClass('success');
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario ingresar ');
                $('#msg2').text('en al menos una piscina');
                $('#msg_alert').text('parámetros ');
                $('#loader').addClass('hidden');
                cerrarLoader();
                return;
            }

            $.post( "/biometrias/add", {
                biometrias: biometrias
            }, (data) => {
                //console.log(data);
                $('#span_estatus').text(data.estatus);

                limpiarDatos();
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('warning');
                $('#alert').addClass('success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha realizado con ');
                $('#msg2').text('el registro de parámetros');
                $('#msg_alert').text('éxito ');
                
            }, "json");

            $('#loader').addClass('hidden');
            
            cerrarLoader();
        }

        function obtenerIncremento(idS) {
            var id = idS.split("_")[2];

            console.log($('#peso_ant_'+id).text());

            var peso_actual = $('input[name="peso_act_'+id+'"]').val() == "" ? parseFloat(0) : parseFloat($('input[name="peso_act_'+id+'"]').val());
            var peso_anterior = $('#peso_ant_'+id).text() == "" ? parseFloat(0) : parseFloat($('#peso_ant_'+id).text());

            console.log("pa: "+  peso_actual + " pant: "+ peso_anterior);
            var incremento = parseFloat(peso_actual) - parseFloat(peso_anterior);
            $('#incre_'+id).text(parseFloat(incremento).toFixed(2));       
        }

        function registrarParametro(idS){
            var id = idS.split("_")[1];
            var obj = new Object()

            console.log($('#fecha_new').val());
            
            if(existeRegistro(id)){ } else {
                /*** DATOS DE LA PISCINA **/
                obj.estanque = $("input[name=idPis"+id+"]").val();
                obj.codigo_piscina = $("#codPis_"+id).text();
                obj.superficie = parseFloat($("#super_"+id).text() == "" ? "" : $("#super_"+id).text());
                obj.fecha_siembra = $("#fsiembra_"+id).text() == "" ? "" : new Date($("#fsiembra_"+id).text().split("/")[2]+"-"+$("#fsiembra_"+id).text().split("/")[1]+"-"+$("#fsiembra_"+id).text().split("/")[0]);
                
                /*** DATOS PARA MOSTRAR O INFORMATIVOS **/
                obj.fecha_biometria = $('#fecha_new').val();
                obj.dias_cultivo = parseFloat($("#dculti_"+id).text() == "" ? parseFloat(0) : $("#dculti_"+id).text());
                obj.int_origen = $("#int_ori_"+id).text() == "" ? [] : $("#int_ori_"+id).text().split(",");
                obj.peso_siembra = parseFloat($("#peso_siem_"+id).text() == "" ? parseFloat(0) : $("#peso_siem_"+id).text());
                obj.peso_anterior = parseFloat($("#peso_ant_"+id).text() == "" ? parseFloat(0) : $("#peso_ant_"+id).text());
                obj.densidad = parseFloat($("#den_siembra_"+id).text() == "" ? parseFloat(0) : $("#den_siembra_"+id).text());
                obj.incremento = parseFloat($("#incre_"+id).text() == "" ? parseFloat(0) : $("#incre_"+id).text());
                obj.organismos_muerto_acumulado = parseFloat($("#org_muert_acum_"+id).text() == "" ? parseFloat(0) : $("#org_muert_acum_"+id).text());


                /*** DATOS DE SUBCONSULTAS **/
                obj.alimento_semanal = parseFloat($("#alim_sem_"+id).text() == "" ? parseFloat(0) : $("#alim_sem_"+id).text());
                obj.alimento_acumulado = parseFloat($("#acumu_"+id).text() == "" ? parseFloat(0) : $("#acumu_"+id).text());
                obj.kg_has_sembrada_prom = parseFloat($("#kg_x_ha_"+id).text() == "" ? parseFloat(0) : $("#kg_x_ha_"+id).text());

                /*** DATOS DE CAPTURA **/
                obj.peso_actual = parseFloat($("input[name=peso_act_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=peso_act_"+id+"]").val());
                obj.organismos_lance = parseFloat($("input[name=org_lance_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=org_lance_"+id+"]").val());
                obj.cod_4h = parseFloat($("input[name=cod_4_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=cod_4_"+id+"]").val());
                obj.cod_10h = parseFloat($("input[name=cod_10_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=cod_10_"+id+"]").val());
                obj.organismos_muertos_semana = parseFloat($("input[name=org_muert_sem_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=org_muert_sem_"+id+"]").val());
                obj.presencia_pajaros = parseFloat($("input[name=paj_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=paj_"+id+"]").val());
                obj.observaciones = $("input[name=obs_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=obs_"+id+"]").val();

                if( obj.peso_actual == 0 &&
                obj.organismos_lance == 0 &&
                obj.cod_4h == 0 &&
                obj.cod_10h == 0) { 
                    console.log(" Nose mandará a registrar piscina: " + id);
                } else {
                    console.log(obj);
                    biometrias.push(obj);
                }
            }
        }

        function existeRegistro(id){
            var obj = new Object();

            for(var i=0; i <= biometrias.length -1; i ++){    
                if(biometrias[i].estanque == id){
                        /*** DATOS DE LA PISCINA **/
                        obj.estanque = $("input[name=idPis"+id+"]").val();
                        obj.codigo_piscina = $("#codPis_"+id).text();
                        obj.superficie = parseFloat($("#super_"+id).text() == "" ? "" : $("#super_"+id).text());
                        obj.fecha_siembra = $("#fsiembra_"+id).text() == "" ? "" : new Date($("#fsiembra_"+id).text().split("/")[2]+"-"+$("#fsiembra_"+id).text().split("/")[1]+"-"+$("#fsiembra_"+id).text().split("/")[0]);
                        
                        /*** DATOS PARA MOSTRAR O INFORMATIVOS **/
                        obj.fecha_biometria = $('#fecha_new').val();
                        obj.dias_cultivo = $("#dculti_"+id).text() == "" ? parseFloat(0) : $("#dculti_"+id).text();
                        obj.int_origen = $("#int_ori_"+id).text() == "" ? [] : $("#int_ori_"+id).text().split(",");
                        obj.peso_siembra = parseFloat($("#peso_siem_"+id).text() == "" ? parseFloat(0) : $("#peso_siem_"+id).text());
                        obj.peso_anterior = parseFloat($("#peso_ant_"+id).text() == "" ? parseFloat(0) : $("#peso_ant_"+id).text());
                        obj.densidad = parseFloat($("#den_siembra_"+id).text() == "" ? parseFloat(0) : $("#den_siembra_"+id).text());
                        obj.incremento = parseFloat($("#incre_"+id).text() == "" ? parseFloat(0) : $("#incre_"+id).text());
                        obj.organismos_muerto_acumulado = parseFloat($("#org_muert_acum_"+id).text() == "" ? parseFloat(0) : $("#org_muert_acum_"+id).text());

                        /*** DATOS DE SUBCONSULTAS **/
                        obj.alimento_semanal = parseFloat($("#alim_sem_"+id).text() == "" ? parseFloat(0) : $("#alim_sem_"+id).text());
                        obj.alimento_acumulado = parseFloat($("#acumu_"+id).text() == "" ? parseFloat(0) : $("#acumu_"+id).text());
                        obj.kg_has_sembrada_prom = parseFloat($("#kg_x_ha_"+id).text() == "" ? parseFloat(0) : $("#kg_x_ha_"+id).text());

                        /*** DATOS DE CAPTURA **/
                        obj.peso_actual = parseFloat($("input[name=peso_act_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=peso_act_"+id+"]").val());
                        obj.organismos_lance = parseFloat($("input[name=org_lance_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=org_lance_"+id+"]").val());
                        obj.cod_4h = parseFloat($("input[name=cod_4_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=cod_4_"+id+"]").val());
                        obj.cod_10h = parseFloat($("input[name=cod_10_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=cod_10_"+id+"]").val());
                        obj.organismos_muertos_semana = parseFloat($("input[name=org_muert_sem_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=org_muert_sem_"+id+"]").val());
                        obj.presencia_pajaros =parseFloat($("input[name=paj_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=paj_"+id+"]").val());
                        obj.observaciones = $("input[name=obs_"+id+"]").val() == "" ? parseFloat(0) : $("input[name=obs_"+id+"]").val();

                        if( obj.peso_actual == 0 &&
                        obj.organismos_lance == 0 &&
                        obj.cod_4h == 0 &&
                        obj.cod_10h == 0) { 
                            console.log(" Nose mandará a registrar piscina: " + id);
                        } else {
                            biometrias[i] =  obj;
                        }

                        return true;
                }
            }
            return false;
        }

        function asignarTiempo(){
            cambiar_tiempo = false;
            $('#span_tiempo').text($('#select_tiempo').val());
        }

        function asignarFecha(){
            cambiar_fecha = true;
            var fecha = $('#fecha_new').val().split("-");
            $('#fecha').text(fecha[2]+"/"+fecha[1]+"/"+fecha[0] + " - ");

            nutricion.forEach( n => {
                n.fecha = $('#fecha_new').val();
            });
        }

        function limpiarDatos() {
            obtenerFecha();
            obtenerHora();

            cambiar_tiempo = true;
            cambiar_fecha = false;

            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        
            $("#lista_nutricion").empty();
            $('#guardar').removeClass('disabled');
            
            mostrarPiscinas();
        }

    // Termina javascript

    // Inputs funcionamiento
    input.hidden#modulos(value="#{user.modulo}")
    input.hidden#user(value="#{user._id}")

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-ruler-combined
                    |   Registro de biometrias
                div
                    a#guardar(href="javascript:guardarRegistros();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Módulo(s): 
                            br
                            strong
                                span#span_modulos.blue-text ####
                        h5.h5-responsive
                            small Número de piscinas: 
                            br
                            strong
                                span#num_piscinas ###
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Fecha.
                            br
                            strong
                                a(data-toggle="modal" href="#fechaModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar fecha").fas.fa-2x.fa-sync-alt
                                span#fecha.blue-text
                                span#hora.blue-text
                        //h5.h5-responsive
                            small Captura para
                            br
                            strong
                                a(data-toggle="modal" href="#tiempoModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar tiempo").fas.fa-2x.fa-sync-alt
                                span#span_tiempo(style="margin-top: 5px;")
                        h5.h5-responsive
                            small Estatus.
                            br
                            strong
                                span#span_estatus Nuevo
                        //h5.h5-responsive#h_modulo.hidden
                            small Módulo.
                            br
                            strong
                                span#span_modulo #######
                        //h5.h5-responsive#h_piscina.hidden
                            small Piscina.
                            br
                            strong
                                span#span_piscina #######
    
    // Captura de datos
    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-vial
            .panel-body
                ul#lista_nutricion   

    // Modal Seleccionar tiempo
    #tiempoModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-hourglass-half.fa-input
                                            select#select_tiempo.form-control(required name="tiempo" tabindex="1" value="" onchange="asignarTiempo()")
                                                option(value="") << Seleccione >>
                                                option(value="AM") AM
                                                option(value="PM") PM

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

    // Modal seleccionar fecha
    #fechaModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar fecha
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Fecha
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-calendar(style="color: #fff;")
                                            input#fecha_new.form-control(type="date" name="fecha_new" tabindex="6" onblur="asignarFecha()")
                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar