extends ../../layouts/layout.jade
block contenido
    div.container
        div.col-xs-10.text-center(style="margin-top: 150px;")
            div.col-xs-12.margin-abajo
                img(src="/imgs/mail.png")
            div.col-xs-12
                span(style="font-size: 36px; font-weight: 700;") Orden enviada
            div.col-xs-12
                span(style="font-size: 24px; font-weight: 700;") 
                    i.fa.fa-check-circle(style="color: #5cb85c;")
                    span &nbsp;Correctamente
            div.col-xs-12
                span(style="font-size: 16px;") ¡Es momento de programar un chofer para recoger los artículos!
            div.col-xs-12
                strong(style="font-size: 16px;") NOTA: &nbsp;
                span(style="font-size: 16px;") ¡No olvides confirmar con el proveedor si recibió la orden!
            
