extends ../../../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 
    script.
        $(document).ready( function(){
            obtenerfecha();
            obtenerhora(); 

            $('#subMenuUnidades').removeClass('hidden');
            $('#spanMenuUnidades').removeClass('fa-angle-left');
            $('#spanMenuUnidades').addClass('fa-angle-down');
            $('#subMenuTractores').removeClass('hidden');
            $('#spanMenuTractores').removeClass('fa-angle-left');
            $('#spanMenuTractores').addClass('fa-angle-down');
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $("#fecha").text(dia+"/"+mes+"/"+anio+"    ");
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");

            setTimeout('obtenerhora()',1000);
            //console.log("un segundo mas...");
        }

        function submit() {
            document.frm3.submit();
        }
    .row(style="margin-bottom: -5px;")
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
            h2 
                i.fas.fa-truck-pickup(style="margin-right: 10px;")
                |   Registro de Camioneta
    .divider
    .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6.pull-right.text-right
            span
                | Usuario: 
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.col-md-6.col-sm-6.col-xs-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .divider
    form(role="form" name="frm" method="post" action="/unidades/camioneta/add")
        .row
            .col-lg-12
                .col-lg-3
                    .form-group
                        label | Código
                        .input-group
                            span.input-group-addon
                                i.fas.fa-qrcode
                            input.form-control(type="text" name="codigo" placeholder="Código" tabindex="1")
                .col-lg-3
                    .form-group
                        label | Marca
                        .input-group
                            span.input-group-addon
                                i.fas.fa-registered
                            input.form-control(type="text" name="marca" placeholder="Marca" tabindex="2")
                .col-lg-3
                    .form-group
                        label | Modelo
                        .input-group
                            span.input-group-addon
                                i.fab.fa-modx
                            input.form-control(type="text" name="modelo" placeholder="Modelo" tabindex="3")
                .col-lg-3
                    .form-group
                        label | Llantas
                        .input-group
                            span.input-group-addon
                                i.fas.fa-car-side
                            input.form-control(type="text" name="llantas" placeholder="% Llantas" tabindex="4")
                            span.input-group-addon
                                i %
        .row
            .col-lg-12
                .col-lg-3
                    .form-group
                        label | Batería
                        .input-group
                            span.input-group-addon
                                i.fas.fa-car-battery
                            input.form-control(type="text" name="bateria" placeholder="Bateria" tabindex="5")
                            span.input-group-addon
                                i %
                .col-lg-3
                    .form-group
                        label | Carroceria
                        .input-group
                            span.input-group-addon
                                i.fas.fa-car-crash
                            input.form-control(type="text" name="carroceria" placeholder="Carrocería" tabindex="6")
                            span.input-group-addon
                                i %
                .col-lg-3
                    .form-group
                        label | Horometro
                        .input-group
                            span.input-group-addon
                                i.fas.fa-tachometer-alt
                            input.form-control(type="text" name="horometro" placeholder="Horometro" tabindex="7")
                .divider
        .row  
            .col-lg-12
                .col-lg-2.col-md-4.col-xs-6.pull-right( style="margin-left: 15px;")
                    .form-group
                        .input-group
                            span.input-group-addon
                                i.fas.fa-plus-circle.text-success
                            input(type="submit" value="Agregar" tabindex="8").btn.btn-success.form-control