extends ../../layouts/layout.jade
block contenido
    style.
        a.btn-success {
            border: 0;
            border-radius: 2px;
        }
    script.
        var autorizador = false;
        var areas = [];
        
        $(document).ready( function(){          
            $('#spanMenuSistemas').removeClass('fa-angle-left');
            $('#spanMenuSistemas').addClass('fa-angle-down');
            $('#subMenuSistemas').removeClass('hidden');
            $('#subMenuUsuarios').removeClass('hidden');
            $('#spanMenuUsuarios').removeClass('fa-angle-left');
            $('#spanMenuUsuarios').addClass('fa-angle-down');         

            $('#chkAutorizar').checkboxpicker({
                offLabel: 'No',
                onLabel: 'Si'
            });

            $("#chkAutorizar").change(function(){
                if($(this).prop("checked") == true){
                    autorizador = true;
                }else{
                    autorizador = false;
                }
            }); 
        });

        function guardar(){
            $.post( "/usuarios/usuario", {
                nombre: $("input[name=nombre]").val(),
                correo: $("input[name=correo]").val(),
                usuario: $("input[name=usuario]").val(),
                password: $("input[name=password]").val(),
                nacimiento: $("input[name=nacimiento]").val(),
                numero_nomina: $("input[name=numero_nomina]").val(),
                empresa: $("select[name=empresa]").val(),
                unidad_negocio: $("select[name=unidad_negocio]").val(),
                permisos: $("select[name=permisos]").val(),
                autorizador: autorizador,
                area: $("select[name=area]").val(),
                modulo: $("select[name=modulo]").val()

            }, (data, status) => {
                //console.log(data);
                //console.log(status);
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('alert-warning');
                $('#alert').addClass('alert-success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha guardado ');
                $('#msg2').text('el nuevo usuario.');
                $('#msg_alert').text('éxito ');
                $('#guardar').addClass('disabled');
                $('#guardar').attr('link', '');
            }, "json");
        }




        function obtenerModulos(){
            if ($('#areas').val() == "5e4eceea3b139a5224a9ee5a" || $("#areas").val() == "5e4ecf2c3b139a5224a9ee5b"){
                $('#h_modulo').removeClass('hidden');
                $('#modulosSal').removeClass('hidden');
                $('#sel').removeClass('hidden');
                $('#a').removeClass('hidden');
                $('#b').removeClass('hidden');
                $('#ac').addClass('hidden');
                $('#bc').addClass('hidden');
                $('#d').addClass('hidden');
                $('#e').addClass('hidden');
                $('#reser').removeClass('hidden');
                $('#module').attr('required', true);
            } else {
                $('#h_modulo').addClass('hidden');
                $('#piscinas').addClass('hidden');
                $('#modulos').addClass('hidden');
                $('#module').attr('required', false);
                $('#modulosSal').addClass('hidden');
            }
        }

        function obtenerAreas(){
            $.getJSON('/usuarios/find/' + $('#cmbUnidadNeg').val(), (datos)=>{
                if( datos.areas.length > 0){
                    $('#areas')
                        .empty()
                        .append('<option value=-1> << Seleccione >> </option>');
                    
                    for(var i = 0; i < datos.areas.length; i ++){
                        $("#areas")
                            .append($("<option></option>")
                            .attr("value",datos.areas[i]._id)
                            .text(datos.areas[i].codigo + " - "+ datos.areas[i].nombre));
                    }
                } 
                if( datos.modulos.length > 0){
                    $('#moduloS')
                        .empty()
                        .append('<option value=-1> << Seleccione >> </option>');
                    
                    for(var i = 0; i < datos.modulos.length; i ++){
                        $("#moduloS")
                            .append($("<option></option>")
                            .attr("value",datos.modulos[i]._id)
                            .text(datos.modulos[i].nombre));
                    }
                }               
            });
        }
    //Termina Javascript
    
    
    //  Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-user-plus
                    |   Nuevo usuario
                div
                    a#guardar(href="javascript:guardar();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Datos del usuario
    section.mb-4
        .card
            .card-body
                .d-flex.justify-content-between
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .form-group
                            label | Nombre
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-user-circle(style="color: #fff;")
                                input.form-control(required type="text" name="nombre" placeholder="Nombre" tabindex="1")
                div.d-flex.justify-content-between
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Usuario
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-user(style="color: #fff;")
                                input.form-control(required type="text" name="usuario" placeholder="Usuario" tabindex="2")
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Password
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-asterisk(style="color: #fff;")
                                input.form-control(required type="password" name="password" placeholder="Password" tabindex="3")
                    
                .d-flex.justify-content-between
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Permisos
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-building(style="color: #fff;")
                                select.form-control(required id="cmbPermisos" name="permisos" tabindex="4")
                                    option(value=-1) << Seleccione >>
                                    option(value="usuario") Usuario
                                    option(value="compras") Compras
                                    option(value="almacen_camaron") Almacen Camaron
                                    option(value="gerente_modulo", selected=('gerente_modulo'== usr.permisos)) Gerente módulo
                                    option(value="admin") Admin
                                    option(value="master") Master
                                    option(value="owner") Owner
                                    option(value="developer") Developer
                                    option(value="externo") Externo
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6(style="margin-top: 25px;")
                        .form-check
                            input#chkAutorizar(type="checkbox" name="autoriza" tabindex="5")
                            label(style="margin-left: 15px;")
                                |   ¿El usuario podrá autorizar requisiciones?
                .d-flex.justify-content-between
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Fecha Nacimiento
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-calendar(style="color: #fff;")
                                input#nacimiento.form-control(required type="date" name="nacimiento" tabindex="6")
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Correo
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-envelope(style="color: #fff;")
                                input.form-control(required type="mail" name="correo" placeholder="Correo" tabindex="7")
                .d-flex.justify-content-between
                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                        .form-group
                            label | Número Nómina
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-hashtag(style="color: #fff;")
                                input.form-control(required type="number" step="1" min="0" name="numero_nomina" placeholder="Número nómina" tabindex="8")
                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                        .form-group
                            label | Unidad de Negocios
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-asterisk(style="color: #fff;")
                                select.form-control(required id="cmbUnidadNeg" name="unidad_negocio" onchange="obtenerAreas()" tabindex="9")
                                    option(value="") << Seleccione >>
                                    each unidad in unidades_negocios
                                        option(value = unidad.id) #{ unidad.nombre }
                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                        .form-group
                            label | Empresa
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-building(style="color: #fff;")
                                select.form-control(required id="cmbEmpresa" name="empresa" tabindex="10")
                                    option(value="") << Seleccione >>
                                    option(value="Llaos Acuacultura S.A. de C.V.") Llaos Acuacultura S.A. de C.V.
                                    option(value="Renegados") Renegados
                                    option(value="Crap") Crap
                                    option(value="Anclar") Anclar
                .d-flex.justify-content-between
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Área
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-map-signs.fa-input(style="color: #fff;")
                                select#areas.form-control(tabindex="11" value="" name="area" onchange="obtenerModulos()")
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6#modulosSal.hidden
                        .form-group
                            label | Modulo(s)
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-input.fa-map-pin(style="color: #fff;")
                                select#moduloS.form-control(tabindex="12" name="modulo" multiple)
                