    
extends ../../../layouts/layout.jade
block contenido
    script.
        var estanques = [];

        $(document).ready( function(){
            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            $('#subMenuAdmGranja').removeClass('hidden');
            $('#spanMenuAdmGranja').removeClass('fa-angle-left');
            $('#spanMenuAdmGranja').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');

            // Mostrar Mapa
            var mymap = L.map('map').setView([27.30673, -110.41087], 15);

            L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
                maxZoom: 18,
                subdomains:['mt0','mt1','mt2','mt3']
            }).addTo(mymap);

            var piscinasData = JSON.parse($('#piscinaData').val());

            var piscinaData = {
                                "type":"FeatureCollection",
                                "features": [
                                    {
                                        "type":"Feature",
                                        "id": "01",
                                        "properties":
                                            {
                                                "name": "S-01",
                                                "density": 30.00
                                            },
                                        "geometry":
                                            {
                                                "type":"Polygon",
                                                "coordinates":
                                                    [[
                                                        [27.303921,-110.422584],
                                                        [27.304044,-110.42075],
                                                        [27.303911,-110.420621],
                                                        [27.300841,-110.420642],
                                                        [27.300717,-110.420793],
                                                        [27.300727,-110.421275],
                                                        [27.300822,-110.421458],
                                                        [27.303444,-110.422606] 
                                                    ]]
                                            }
                                    }
                                ]
            };

            function style(feature) {
                return {
                    fillColor: getColor(feature.properties.density),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function getColor(d) {
                return d > 1000 ? '#800026' :
                    d > 500  ? '#BD0026' :
                    d > 200  ? '#E31A1C' :
                    d > 100  ? '#FC4E2A' :
                    d > 50   ? '#FD8D3C' :
                    d > 20   ? '#FEB24C' :
                    d > 10   ? '#FED976' :
                                '#FFEDA0';
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }
            }
    

            var mapa = L.geoJson(piscinaData).addTo(mymap);                   

        });

        function convetirArray(){            
            var arr = $('#estanques').val().split("},");

            for(var i = 0; i < arr.length; i ++){
                var aObj = arr[i].replace(/'/g, '');
                var obj = new Object();   


                estanques.push(obj);
            }
        }

        

    .row
        .col-lg-9.col-md-9.col-xs-9
            h2
                i.fas.fa-water(style="margin-right: 10px;")
                |   Indicadores de piscinas
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right(style="margin-top: 15px;")
            a.btn.btn-special(href="/estanque/all")
                i.fas.fa-arrow-alt-circle-left
                |   Regresar
        .divider
    .row
        input#piscinaData.hidden(value="#{piscinaData}")
        .col-lg-12
            #map(style="width: 100%; min-height: 800px;")