extends ../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        ul {
            padding: 0;
            list-style-type: none;
        }

        .center-middle {
            margin-top: 13px;
        }

        .margin-div {
            margin-right: 5px;
        }

        .btn-small {
            font-size: 0.5rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

        .divider-special {
            
        }

        hr {
            margin-top: -5px;
            margin-bottom: 5px;
            border: 1px solid #2d6e99;
        }
    script.
        var cambiar_tiempo = true;
        var cambiar_fecha = false;
        var parametros = [];
        var hora;

        $(document).ready( function(){
            $('#subMenuParametros').removeClass('hidden');
            $('#spanMenuParametros').removeClass('fa-angle-left');
            $('#spanMenuParametros').addClass('fa-angle-down');

            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

            mostrarPiscinas();
            obtenerFecha();
            obtenerHora();
        });

        function mostrarPiscinas() {
            abrirLoader();
            var listaModulos = $("#modulos").val().split(",");

            $.post( "/parametros/piscinas", {
                modulos: listaModulos
            }, (data) => {
                if(data.piscinas.length > 0){

                    $('#num_piscinas').text(data.piscinas.length);
                    
                    for(var i = 0; i < data.piscinas.length; i ++){
                        $("#lista_parametros")
                        .append('<li id="pis'+data.piscinas[i]._id+'"> ' +
                            '<div class="d-flex justify-content-between">' +
                                '<input type="text" name="idPis'+data.piscinas[i].codigo+'" value="'+data.piscinas[i]._id+'" class="hidden">'+
                                '<div class="center-middle">' +
                                    '<i class="fas fa-water" style="margin-right: 1px; color: #2d6e99"></i>' +
                                    '<label id="codPis_'+data.piscinas[i]._id+'">'+data.piscinas[i].codigo+'</label>' +
                                '</div>'+
                                '<div class="form-group margin-div">' +
                                    '<label> Temperatura °C </label>' +
                                    '<input class="form-control" type="text" name="temperatura'+data.piscinas[i].codigo+'" placeholder="Temperatura">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Oxigeno mg/L </label>' +
                                    '<input class="form-control" type="text" name="oxigeno'+data.piscinas[i].codigo+'" placeholder="Oxigeno">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Nivel de agua </label>' +
                                    '<input class="form-control" type="text" name="nivel_agua'+data.piscinas[i].codigo+'" placeholder="Nivel agua">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Salinidad </label>' +
                                    '<input class="form-control" type="text" name="salinidad'+data.piscinas[i].codigo+'" placeholder="Salinidad">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> pH </label>' +
                                    '<input class="form-control" type="text" name="ph'+data.piscinas[i].codigo+'" placeholder="pH">' + 
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Tubidez </label>' +
                                    '<input class="form-control" id="'+data.piscinas[i].codigo+'" type="text" name="turbidez'+data.piscinas[i].codigo+'" placeholder="Tubidez" onblur="registrarParametro(this.id)">' + 
                                '</div>' +
                            '</div>' +
                            '<hr>'+
                        '</li>');
                    }
                }

                if(data.modulos.length > 0 ) {
                    $("#span_modulos").text("");
                    $("#span_modulos").text(data.modulos[0].nombre);
                    
                    if(data.modulos.length > 1){
                        for(let i = 1; i <= data.modulos.length -1; i++){
                            $("#span_modulos").text($("#span_modulos").text() + ", " +data.modulos[i].nombre);
                        }
                    }
                }
            }, "json");
            cerrarLoader()
        }

        function obtenerFecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio + " - ");
        }

        function obtenerHora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if (horas < 12) {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("AM");
                }
                dn = "a.m.";
            } else {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("PM");
                }
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            hora = horas+":"+minutos+":"+segundos;
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function asignarTiempo(){
            cambiar_tiempo = false;
            $('#span_tiempo').text($('#select_tiempo').val());
        }

        function registrarParametro(id){
            var obj = new Object()
            obj.estanque = $("input[name=idPis"+id+"]").val();
            obj.temperatura = $("input[name=temperatura"+id+"]").val()  == "" ? 0 : $("input[name=temperatura"+id+"]").val() ;
            obj.oxigeno = $("input[name=oxigeno"+id+"]").val() == "" ? 0 : $("input[name=oxigeno"+id+"]").val();
            obj.nivel_agua = $("input[name=nivel_agua"+id+"]").val() == null || $("input[name=nivel_agua"+id+"]").val() == "" ? null : $("input[name=nivel_agua"+id+"]").val();
            obj.salinidad = $("input[name=salinidad"+id+"]").val() == null || $("input[name=salinidad"+id+"]").val() == "" ? null : $("input[name=salinidad"+id+"]").val();
            obj.ph = $("input[name=ph"+id+"]").val() == "" ? 0 : $("input[name=ph"+id+"]").val();
            obj.turbidez = $("input[name=turbidez"+id+"]").val() == "" || $("input[name=turbidez"+id+"]").val() == null ? null : $("input[name=turbidez"+id+"]").val();
            obj.hora = hora;
            obj.codigo_piscina = $("#codPis_"+id).text();
            obj.tiempo = $('#span_tiempo').text();
            obj.parametrista = $('#user').val();
            obj.fecha = $('#fecha_new').val();


            if( obj.temperatura == 0 &&
                obj.oxigeno == 0 &&
                obj.nivel_agua == null &&
                obj.salinidad == null &&
                obj.ph == 0 &&
                obj.turbidez == null ) { 
                    console.log(" Nose mandará a registrar piscina: " + id);
                } else {
                    parametros.push(obj);
                }
        }

        function guardarRegistros(){
            abrirLoader();
            $('#guardar').addClass('disabled');

            if(parametros.length == 0) {
                $('#alert').removeClass('alert-success');
                $('#alert').addClass('alert-warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario ingresar ');
                $('#msg2').text('en al menos una piscina');
                $('#msg_alert').text('parámetros ');
                $('#loader').addClass('hidden');
                return;
            }

            $.post( "/parametros/add", {
                parametros: parametros
            }, (data) => {
                //console.log(data);
                $('#span_estatus').text(data.estatus);
                $('#guardar').addClass('disabled');

                limpiarDatos();
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('alert-warning');
                $('#alert').addClass('alert-success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha realizado con ');
                $('#msg2').text('el registro de parámetros');
                $('#msg_alert').text('éxito ');
            }, "json");
            $('#loader').addClass('hidden');

            cerrarLoader();
            $('#guardar').removelass('disabled');
        }

        function asignarFecha(){
            cambiar_fecha = true;

            var fecha = $('#fecha_new').val().split("-");
            $('#fecha').text(fecha[2]+"/"+fecha[1]+"/"+fecha[0] + " - ");

            parametros.forEach( n => {
                n.fecha = $('#fecha_new').val();
            });
        }

        function limpiarDatos() {
            obtenerFecha();
            obtenerHora();

            cambiar_tiempo = true;
            cambiar_fecha = false;

            var today = new Date();
            document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        
            $("#lista_parametros").empty();
            $('#guardar').removeClass('disabled');

            mostrarPiscinas();
        }

    // Inputs funcionamiento
    input.hidden#modulos(value="#{user.modulo}")
    input.hidden#user(value="#{user._id}")

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-eye-dropper
                    |   Registro de parámetros
                div
                    a#guardar(class="disabled" href="javascript:guardarRegistros();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Módulo(s): 
                            br
                            strong
                                span#span_modulos.blue-text ####
                        h5.h5-responsive
                            small Número de piscinas: 
                            br
                            strong
                                span#num_piscinas ###
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Fecha.
                            br
                            strong
                                //if(user.permisos == 'developer')
                                a(data-toggle="modal" href="#fechaModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar fecha").fas.fa-2x.fa-sync-alt
                                span#fecha.blue-text
                                span#hora.blue-text
                        h5.h5-responsive
                            small Captura para
                            br
                            strong
                                a(data-toggle="modal" href="#tiempoModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar tiempo").fas.fa-2x.fa-sync-alt
                                span#span_tiempo(style="margin-top: 5px;")
                        h5.h5-responsive
                            small Estatus.
                            br
                            strong
                                span#span_estatus Nuevo
                        //h5.h5-responsive#h_modulo.hidden
                            small Módulo.
                            br
                            strong
                                span#span_modulo #######
                        //h5.h5-responsive#h_piscina.hidden
                            small Piscina.
                            br
                            strong
                                span#span_piscina #######

    // Captura de datos
    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-vial
            .panel-body
                ul#lista_parametros
    
    // Modal Seleccionar tiempo
    #tiempoModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-hourglass-half.fa-input
                                            select#select_tiempo.form-control(required name="tiempo" tabindex="1" value="" onchange="asignarTiempo()")
                                                option(value="") << Seleccione >>
                                                option(value="AM") AM
                                                option(value="PM") PM

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

    // Modal seleccionar fecha
    #fechaModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-calendar(style="color: #fff;")
                                            input#fecha_new.form-control(type="date" name="fecha_new" tabindex="6" onblur="asignarFecha()")
                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

               