extends ../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        li {
            list-style-type: none;
        }
    script.
        $(document).ready( function(){
            $('#subMenuParametros').removeClass('hidden');
            $('#spanMenuParametros').removeClass('fa-angle-left');
            $('#spanMenuParametros').addClass('fa-angle-down');

            mostrarPiscinas();
        });


        // /parametros/add
        // /parametros/next

        function mostrarPiscinas() {
            var listaModulos = $("#modulos").val().split(",");

            console.log(listaModulos);

            $.post( "/parametros/piscinas", {
                modulos: listaModulos
            }, (data) => {
                if(data.piscinas.length > 0){

                    $('#num_piscinas').text(data.piscinas.length);
                    
                    for(var i = 0; i < data.piscinas.length; i ++){
                        $("#lista_parametros")
                        .append('<li id="pis'+data.piscinas[i]._id+'"> ' +
                            '<div class="d-flex">' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> Temperatura °C </label>' +
                                        '<input class="form-control" type="text" name="temperatura" placeholder="Temperatura">' + 
                                    '</div>' +
                                '</div>' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> Oxigeno mg/L </label>' +
                                        '<input class="form-control" type="text" name="Oxigeno" placeholder="Oxigeno">' + 
                                    '</div>' +
                                '</div>' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> Nivel de agua </label>' +
                                        '<input class="form-control" type="text" name="Nivel de agua" placeholder="Oxigeno">' + 
                                    '</div>' +
                                '</div>' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> Salinidad </label>' +
                                        '<input class="form-control" type="text" name="Salinidad" placeholder="Salinidad">' + 
                                    '</div>' +
                                '</div>' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> pH </label>' +
                                        '<input class="form-control" type="text" name="ph" placeholder="pH">' + 
                                    '</div>' +
                                '</div>' +
                                '<div class="col-lg-2 col-md-2 col-xs-12">' +
                                    '<div class="form-group">' +
                                        '<label> Tubidez </label>' +
                                        '<input class="form-control" type="text" name="Tubidez" placeholder="Tubidez">' + 
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</li>');
                    }
                }

                if(data.modulos.length > 0 ) {
                    $("#span_modulos").text("");

                    if(data.modulos.length = 1){
                        $("#span_modulos").text(data.modulos[0]);
                    } else {
                        for(let i = 0; i <= data.modulos.length -1; i++){
                            $("#span_modulos").text($("#span_modulos").text() + ", " +data.modulos[i]);
                        }
                    }
                }

            }, "json");
            /**
                                            '<div class="form-group">' +
                                    '<label>'+piscinas[i].codigo+'</label>' +
                                '</div>' +
            */

        }

    // Inputs funcionamiento
    input#modulos(value="#{user.modulo}")

    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-eye-dropper
                    |   Registro de parámetros
                div
                    a#guardar(href="javascript:guardar();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Módulo(s): 
                            br
                            strong
                                span#span_modulo.blue-text ####
                            //a(data-toggle="modal" href="#almacenModal" style="margin-left: 10px;").btn.btn-primary.btn-small.blue-gradient
                                i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Seleccionar almacén").fas.fa-2x.fa-sync-alt
                        h5.h5-responsive
                            small Número de piscinas: 
                            br
                            strong
                                span#num_piscinas ###
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        //h4.h4-responsive
                            small Salida No.
                            br
                            strong
                                span.blue-text ##{numeroOrden}
                        //h5.h5-responsive
                            small Solicita.
                            br
                            strong
                                span#span_solicita #######
                        //h5.h5-responsive
                            small Área.
                            br
                            strong
                                span#span_area #######
                        //h5.h5-responsive#h_modulo.hidden
                            small Módulo.
                            br
                            strong
                                span#span_modulo #######
                        //h5.h5-responsive#h_piscina.hidden
                            small Piscina.
                            br
                            strong
                                span#span_piscina #######

    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-vial
            .panel-body
                ul#lista_parametros
