doctype html
html(lang="es")
    head
        title Curriculum
        meta(charset="utf-8")

        // Bootstrap core CSS
        link(href="vendor2/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(rel="shortcut icon" href="/imgs/management.ico")

        // Custom fonts for this template
        link(href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet")
        link(href="vendor2/devicons/css/devicons.min.css" rel="stylesheet")
        link(href="vendor2/simple-line-icons/css/simple-line-icons.css" rel="stylesheet")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet")      

        // Custom styles for this template
        link(href="css/resume.css" rel="stylesheet")

        // Bootstrap core JavaScript
        script(src="vendor2/jquery/jquery.min.js")
        script(src="vendor2/bootstrap/js/bootstrap.bundle.min.js")

        // Plugin JavaScript
        script(src="vendor2/jquery-easing/jquery.easing.min.js")
        script(src="js/app.js")

        // Custom scripts for this template
        script(src="js/resume.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
    script.
        baguetteBox.run('.tz-gallery');
   
    body#page-top
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Start Bootstrap
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Acerca de nosotros
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experiencias
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#photos') Fotos
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Clientes
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Logros

        div.container-fluid.p-0
            section#about.resume-section.p-3.p-lg-5.d-flex.d-column
                .my-auto
                    h1.mb-0(style="margin-top: 20px;")
                        | LLAOS
                        span.text-secondary 
                        span.text-primary ACUACULTURA
                    .subheading.mb-5
                        | 
                        span#fecha.text-primary
                    p.mb-5(style="text-align: justify; !important")
                        | Llaos Acuacultura se constituye el 19 de agosto de 2004 en Ciudad Obregón Sonora, con el Lic. Oscar Adrián Llanes Cota a la cabeza, mediante la escritura pública No. 9,764 en Ciudad Obregón, Sonora. El Lic. Llanes Cota es Lic. en Derecho por el Centro de Estudios Universitarios de Monterrey, que ejerció su carrera durante seis meses al terminar sus estudios, sin embargo; visualiza una gran oportunidad de negocio a la edad de 24 años, para comercializar camarón en Monterrey, Tamaulipas y Nuevo León. Al mismo tiempo, su padre el Sr. Oscar Llanes Gámez, contaba con su propia comercializadora denominada “Mariscos Congelados Alejandra SA” con el cual trabajó de la mano para sacar adelante el negocio. Posteriormente comienza a exportar a Texas, con producto proveniente de Sonora, asociándose así con su padre, de dicha asociación nace “Llaco Impulsora SA de CV” en los años 80, dedicándose a la comercialización de camarón y pescado. Tiempo después, el Lic. Oscar Adrián, se independiza de su padre, formando un negocio de comercialización de filete de tilapia, rentando varias bodegas para cuarto frío y finalmente se decide a comprarlas.
                        br
                        br
                        |  Posteriormente nace la empresa “Productiva Tres Generaciones SPR de RL”, derivado de la compra de terrenos para granja de camarón, que si bien es una empresa familiar, también formaban parte del cuadro accionario, dos de sus empleados de más confianza, así como la empresa denominada “Anclar”, otra planta que funcionaba como congeladora y maquiladora. Para finales de los 80, estaban operando con tres razones sociales. Sin embargo, en el año 2007, deja de operar “LLaco Impulsora”, para dar origen a la empresa “Crab & Shrimp”, que además de camarón, maquilaba jaiba, y para 2010, ésta empresa estaba ya fortalecida y deja de operar también “Anclar” y se construyen los almacenes que actualmente forman parte de la operación de la empresa. Actualmente solo operan “Llaos Acuacultura” y “Crab & Shrimp”, ésta última mediante un contrato de arrendamiento con “Llaos”, es decir, todo se factura por  ésta última. 
                        br
                        br
                        | “Llaos Acuacultura SA de CV”, es una organización productora de camarón que cuenta con cada uno de los procesos en la cadena de producción, donde se va atendiendo desde la siembra del producto en piscinas rústicas naturales, hasta que este es disfrutado en el paladar del más exigente.
                        br
                        br
                        | Actualmente “Llaos” exporta alrededor de 2`000,000 de libras en camarón a EUA, abriendo además nuevos mercados en Japón, España y China.
                        br
                        br
                        | “Llaos” cultiva alrededor de 300 hectáreas de camarón tipo Blanco Vannamei sin la utilización de químicos. Gracias al manejo de productos naturales en el cultivo, la producción se va mejorando día a día cosechando desde 12 gramos hasta 33 gramos con cola.
                        br
                        br
                        | En Arizona, EU,  el Lic. Oscar Llanes, cuenta también con una empresa denominada “Ocean Racso LLC”, que sirve como enlace para vender a empresas de otros países, y se encarga de cubrir y dar certeza a las exportaciones para un mejor trámite y control. “Llaos” vende a mercado nacional, pero también exporta su producto, esto va a depender de las condiciones del mercado.
                        
                    ul.list-inline.list-social-icons.mb-0
                        li.list-inline-item
                            a(href='#')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fas.fa-hand-holding-heart.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href='#')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fas.fa-heart.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href='#')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-trophy.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href='#')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fas.fa-calendar-alt.fa-stack-1x.fa-inverse
            section#experience.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Experiencias
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 V
                            .subheading.mb-3 S
                            p(style="text-align: justify;")
                                | 

            section#photos.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Fotos
                    .container
                        .container.gallery-container
                            .tz-gallery
                                .row.mb-3
                                    .col-md-4
                                        .card
                                            a.lightbox(href='img/1.jpg')
                                                img.card-img-top(src='img/1.jpg', alt='Park')

            section#skills.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Principales Clientes
                    .subheading.mb-3 Clientes
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-check
                            | H&N Group
                        li
                            i.fa-li.fa.fa-check
                            | Richwell Group
                        li
                            i.fa-li.fa.fa-check
                            | Andrea Sixta
                        li
                            i.fa-li.fa.fa-check
                            | Sunny Valey    

            section#awards.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Logros
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            | Empresa Socialmente Responsable (ESR)
