extends ../../../layouts/layout.jade
block contenido
    style.

    script.
        $(document).ready( function(){
            obtenerfecha();
            obtenerhora();
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

    //Termina Javascript
    .row(style="margin-bottom: -5px;")
        .col-lg-12.col-md-12.col-xs-12
            h2
                i.fas.fa-seedling(style="margin-right: 10px;")
                |  Nueva Unidad de Negocio
    .divider
    .row
        .col-lg-6.col-md-6.col-xs-6.pull-right.text-right
            span
                | Usuario: 
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.col-md-6.col-xs-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .divider
    form#frm(role="form" method="post" action="/unidad/add")
        .row
            .col-lg-6.col-md-6.col-xs-12
                .form-group
                    label | Código
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input#nombre.form-control(readonly type="text" name="nombre" placeholder="Código" tabindex="1")
            .col-lg-6.col-md-6.col-xs-12
                .form-group
                    label | Nombre
                    .input-group
                        span.input-group-addon
                            i.fas.fa-bars
                        input#nombre.form-control(readonly type="text" name="nombre" placeholder="Nombre" tabindex="2")
